<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mainicon"
        android:label="SmartHomeSystem"
        android:roundIcon="@drawable/mainicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:name=".MyApplication">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TempControl" />
        <activity android:name=".Security" />
        <activity android:name=".Security1" />
        <activity android:name=".Settings" />
        <activity android:name=".FunctionMenu" />
        <activity android:name=".Alarm" />
        <activity android:name=".Voicerec" />
        <activity android:name=".Deeplearning" />
        <activity android:name=".Device" />
        <activity android:name=".Notifications" />
        <activity android:name=".SecuritySettings" />
        <activity android:name=".Profile" />
        <activity android:name=".UpdateValues" />
        <activity
            android:name=".CloseNotification"
            android:taskAffinity=""
            android:excludeFromRecents="true">
        </activity>
        <receiver android:name=".AlarmReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>

        </receiver>
    </application>

</manifest>